<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Messages</h1>
    <ul class="message-list">
      <% messages.forEach((message) => { %> <%- include('messages/message', {
      message: message }) %> <% }) %>
    </ul>
    <button class="new-message-btn">
      <a href="/new">Send a new message</a>
    </button>
  </body>
</html>
